.carddemoBasicUsage .card-media {
  background-color: #999999; }


  mat-card img{
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    width: 50%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 80%;
  }

  .example-card {
    max-width: 800px;
  }

  .header-image-viaje {
    background-image: url('/src/assets/panama.jpg');
    background-size: cover;
  }
